{% extends 'include/base.html' %}

{% block title %}
세미프로젝트 - 갤러리 글쓰기
{% endblock %}
<script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit"
        async defer></script>
<script type="text/javascript">
    var onloadCallback = () => {
        // 구글 캡챠 사이트키 넣는곳
        grecaptcha.render('captcha', { 'sitekey' : '' });
    };
</script>

{% block style %}
<style>
    form { width: 450px; margin:50px auto; }
    th { width: 150px; }
    tr { height: 35px }
    tr:nth-child(3) { vertical-align: top }
    #listbtn { margin-left: 95px }
    input, textarea, button { padding: 5px }
</style>
{% endblock %}

{% block main %}
<main>
    <h2>갤러리 글쓰기</h2>
    <form name="galleryfrm" enctype="multipart/form-data">
        <table>
            <tr><th>제목</th><td><input type="text" name="title" id="title" required></td></tr>
            <tr><th>작성자</th><td><input type="text" name="userid" id="userid" value="zzyzzy" readonly></td></tr>
            <tr><th>본문</th><td><textarea name="contents" id="contents" rows="10" cols="45" required></textarea></td></tr>
            <tr><th>첨부파일</th><td>
                <div><input type="file" name="files" id="file1" required></div>
                <div><input type="file" name="files" id="file2" ></div>
                <div><input type="file" name="files" id="file3" ></div>
            </td></tr>

            <tr><th>자동가입방지</th><td><div id="captcha"></div></td></tr>

            <tr><td colspan="2">
                <button type="button" id="listbtn" onclick="location.href='/gallery/list'">리스트로</button>
                <button type="submit" id="writeokbtn">입력완료</button>
            </td></tr>
        </table>
    </form>
</main>
{% endblock %}



{% block script %}

<script>
    // 텍스트는 JSON화 해야함 복합데이터는 이 정도
    let galleryfrm = document.galleryfrm;
    // 첨부기능 async
    galleryfrm.addEventListener('submit',async (e) => {
        e.preventDefault();

        const formData = new FormData(galleryfrm);

        await fetch('/gallery/write', {
            method: 'POST',
            body: formData
        });
    });
</script>
{% endblock %}