{% extends 'include/base.html' %}

{% block title %}
세미프로젝트 - 회원가입
{% endblock %}

{% block style %}
<script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit"
        async defer></script>
<script type="text/javascript">
    var onloadCallback = () => {
        grecaptcha.render('captcha', { 'sitekey' : '' });
    };
</script>
{% endblock %}

{% block main %}
<main>
    <h2>회원가입</h2>
    <div class="d-flex justify-content-center align-items-center" style="height: 65vh">
        <form name="joinfrm" method="post" class="col-5">
            <div class="row my-2"><label for="userid" class="col-form-label col-4 text-end">아이디</label>
                <div class="col-7">
                    <input type="text" name="userid" id="userid"
                           minlength="6" maxlength="18" required class="form-control"></div></div>
            <div class="row my-2"><label for="passwd" class="col-form-label col-4 text-end">비밀번호</label>
                <div class="col-7">
                    <input type="text" name="passwd" id="passwd"
                           minlength="6" maxlength="18" required class="form-control"></div></div>
            <div class="row my-2"><label for="repasswd" class="col-form-label col-4 text-end">비밀번호 확인</label>
                <div class="col-7">
                    <input type="text" name="repasswd" id="repasswd"
                           minlength="6" maxlength="18" required class="form-control"></div></div>
            <div class="row my-2"><label for="name" class="col-form-label col-4 text-end">이름</label>
                <div class="col-7">
                    <input type="text" name="name" id="name" required class="form-control"></div></div>
            <div class="row my-2"><label for="email" class="col-form-label col-4 text-end">이메일</label>
                <div class="col-7">
                    <input type="email" name="email" id="email" required class="form-control"></div></div>

            <div class="row my-2"><label for="captcha" class="col-form-label col-4 text-end">자동가입방지</label>
                <div class="col-7"><div id="captcha"></div></div></div>

            <div class="row my-2"><label class="col-4 text-end"></label>
                <div class="col-7">
                    <button type="button" id="joinbtn" class="btn btn-primary">입력완료</button>
                    <button type="reset" id="rstbtn" class="btn btn-danger">다시입력</button></div></div>
        </form>
    </div>
</main>
{% endblock %}

{% block script %}
<script>
    // 회원정보를 입력받아 폼 유효성 검사 수행 후
    // 입력한 정보를 json 형식으로 생성한 후 서버로 전송
    let joinbtn = document.querySelector('#joinbtn');
    let joinfrm = document.joinfrm;

    // 회원 가입 폼 체크 함수
    let checkjoinfrm = (frm) => {
        if (frm.userid.value === '') {
            alert('아이디를 입력하세요!');
            frm.userid.focus();
            return false;
        } else if (frm.passwd.value === '') {
            alert('비밀번호를 입력하세요!');
            frm.passwd.focus();
            return false;
        } else if (frm.repasswd.value === '') {
            alert('비밀번호 확인을 입력하세요!');
            frm.repasswd.focus();
            return false;
        } else if (frm.repasswd.value !== frm.passwd.value) {
            alert('비밀번호가 일치하지 않아요!');
            frm.repasswd.focus();
            return false;
        } else if (frm.name.value === '') {
            alert('이름을 입력하세요!');
            frm.name.focus();
            return false;
        } else if (frm.email.value === '') {
            alert('이메일을 입력하세요!');
            frm.email.focus();
            return false;
        } else if (grecaptcha.getResponse() === '') {
            alert('자동가입방지를 클릭하세요!');
            return false;
        } else {
            // console.log('--', grecaptcha.getResponse());
            return true;
        }
    };

    joinbtn.addEventListener('click', () => {
        // 회원정보 입력 여부 검사
        if (!checkjoinfrm(joinfrm)) return;

        // 폼에 입력된 회원 정보를 초기화함
        const formData = new FormData(joinfrm);
        console.log(formData);

        // 서버로 보내기 위해 폼데이터를 JSON객체로 변환
        let jsondata = {};
        formData.forEach((val, key) => {
            jsondata[key] = val;
        });
        // 캡챠 응답코드 추가
        jsondata['captcha'] = grecaptcha.getResponse();

        console.log(jsondata);

        // ajax를 이용해서 서버로 json 데이터 전송하고, 결과 받음
        fetch('/member/join', {
            method: 'POST',   // 데이터 전송방식
            headers: {        // 전송할 데이터 종류
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(jsondata), // 전송할 데이터
            // 문자열을 json으로 변환
            redirect: 'follow'       // 서버 응답시 처리방식 지정
        }).then((res) => {
            if (res.redirected) location.href = res.url;
            // 서버에서 응답해 준 url로 이동
        }); // fetch
    }); // addEventListener

</script>
{% endblock %}