{% extends 'include/base.html' %}

{% block title %}
세미프로젝트 - 회원정보
{% endblock %}

{% block main %}
<main>
    <h2>회원정보</h2>
    <div class="d-flex justify-content-center align-items-center" style="height: 65vh">
        <table class="table w-25 table-bordered table-striped">
            {% for m in myinfo %}
            <tr><th>아이디</th><td>{{ m.userid }}</td></tr>
            <tr><th>이름</th><td>{{ m.name }}</td></tr>
            <tr><th>이메일</th><td>{{ m.email }}</td></tr>
            <tr><th>가입일</th><td>{{ m.regdate.strftime('%Y-%m-%d %H:%M:%S') }}</td></tr>
            {% endfor %}
        </table>
    </div>
</main>
{% endblock %}