{% extends 'include/base.html' %}

{% block title %}
장바구니
{% endblock %}

{% block style %}
<style>
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: white;
    }
    .container {
        width: 80%;
        margin: 0 auto;
        padding: 20px;
    }
    .cart-detail {
        margin-bottom: 20px;
    }
    .cart-item {
        display: flex;
        flex-wrap: wrap;
        background-color: #f5f5dc;
        padding: 20px;
        margin-bottom: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    .cart-item img {
        flex: 1;
        max-width: 150px;
        height: auto;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    .cart-info {
        flex: 2;
        padding-left: 30px;
    }
    .cart-title {
        font-size: 1.8em;
        margin-bottom: 10px;
    }
    .cart-price, .cart-qty, .cart-total-item {
        font-size: 1.2em;
        color: #333;
        margin-bottom: 10px;
    }
    .cart-total-item {
        font-size: 1.2em;
        color: #333;
        margin-bottom: 10px;
    }
    .cart-total-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 30px;
        padding-top: 20px;
        border-top: 1px solid #e0e0e0;
    }
    .cart-total {
        text-align: right;
        font-size: 1.5em;
        color: #333;
        margin-top: 30px;
    }
    .checkout-button {
        display: inline-block;
        padding: 15px 30px;
        background-color: #333;
        color: white;
        text-decoration: none;
        font-size: 1.2em;
        border-radius: 5px;
        transition: background-color 0.3s;
    }
    .checkout-button:hover {
        background-color: #555;
    }
    .remove-button {
        padding: 10px 15px;
        background-color: #e60000;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;
    }
    .remove-button:hover {
        background-color: #c00000;
    }
</style>
{% endblock %}

{% block main %}
<div class="container">
    <h1>장바구니</h1>
    {% if cart_items %}
    {% for item in cart_items %}
    <div class="cart-item">
<!--        이미지 임시 삭제 2024.09.04 15:57-->
<!--        <img src="/static/img/{{ prdattach.fname }}" alt="...">-->
        <div class="cart-info">
            <h2 class="cart-title">{{ item.product.prdname }}</h2>
            <p class="cart-price">가격: ₩{{ "{:,}".format(item.price) }}</p>
            <div>
                <label for="qty-{{ item.cno }}">수량:</label>
                <input type="number" id="qty-{{ item.cno }}" value="{{ item.qty }}" min="1">
                <button onclick="updateCartItem({{ item.cno }})">수량 업데이트</button>
            </div>
            <p class="cart-total-item">합계: ₩{{ "{:,}".format(item.price * item.qty) }}</p>
            <button onclick="removeFromCart({{ item.cno }})">제거</button>
        </div>
    </div>
    {% endfor %}
    <div class="cart-total">
        <strong>총 합계: ₩{{ "{:,}".format(total_price) }}</strong>
    </div>
    <a href="/order/order" class="checkout-button">결제하기</a>
    {% else %}
    <p>장바구니에 상품이 없습니다.</p>
    {% endif %}
</div>



<script>
    function removeFromCart(cno) {
        fetch(`/cart/remove/${cno}`, {
            method: 'DELETE'
        })
            .then(response => response.json())
            .then(data => {
                if (data.message) {
                    alert(data.message);
                    location.reload(); // 페이지 새로고침
                } else {
                    alert('장바구니 항목을 제거하는 중 오류가 발생했습니다.');
                }
            })
            .catch(error => console.error('Error:', error));
    }

    function updateCartItem(cno) {
        const qty = document.getElementById(`qty-${cno}`).value;

        fetch(`/cart/update/${cno}?qty=${qty}`, {
            method: 'PUT'
        })
            .then(response => response.json())
            .then(data => {
                if (data.message) {
                    alert(data.message);
                    location.reload(); // 페이지 새로고침
                } else {
                    alert('장바구니 수량 업데이트 중 오류가 발생했습니다.');
                }
            })
            .catch(error => console.error('Error:', error));
    }
</script>
{% endblock %}
