{% extends 'include/base.html' %}

{% block title %}
세미프로젝트 - SHOP
{% endblock %}

{% block style %}
<style>
    body {
        margin: 0;
        padding: 0;
        background-color: white;
    }
    .container-unique {
        width: 80%;
        margin: 0 auto;
        padding: 20px;
    }
    table.unique-table {
        width: 100%;
        border-collapse: collapse;
        background: white;
    }
    td.unique-td {
        padding: 0;
        vertical-align: top;
    }
    td.unique-td {
        text-align: center;
        padding: 25px;
    }
    .product-unique {
        width: 400px;
        height: 300px;
        background: white;
        box-shadow: 0 0 10px rgba(0,0,0,0.1);
        overflow: hidden;
        position: relative;
        margin: 0 auto;
    }
    .product-unique img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-top: 1.8px solid black;
    }
    .product-unique img:hover {
        border: 2px solid black;
    }
    .product-info-unique {
        position: absolute;
        top: 10px;
        left: 15px;
        right: 15px;
        padding: 0;
        z-index: 2;
    }
    .product-price-unique {
        color: white;
        font-size: 0.85em;
        margin-top: 10px;
        text-align: left;
    }
    .product-button-unique {
        position: absolute;
        top: 10px;
        left: 0;
        right: 0;
        padding: 30px 10px 10px 10px;
        z-index: 1;
        color: white;
        font-size: 1.2em;
        text-align: left;
        height: auto;
        width: auto;
        background-color: rgba(0, 0, 0, 0.2);
    }
    .product-button-unique:hover {
        background-color: rgba(0, 0, 0, 0.1);
    }
    .product-button-unique:active {
        background-color: rgba(0, 0, 0, 0.4);
    }
</style>
{% endblock %}


{% block main %}
<main>
    <hr>
    <div class="container-unique">
        <h1>SHOP</h1>
        <div class="btn-group mb-4" role="group" aria-label="Category buttons">
            <a href="/shop/item_gallery" class="btn btn-custom-black {% if selected_category == 'all' or not selected_category %}active{% endif %}">전체</a>
            <a href="/shop/item_gallery?category=의자" class="btn btn-custom-black {% if selected_category == '의자' %}active{% endif %}">의자</a>
            <a href="/shop/item_gallery?category=소파" class="btn btn-custom-black {% if selected_category == '소파' %}active{% endif %}">소파</a>
            <a href="/shop/item_gallery?category=테이블" class="btn btn-custom-black {% if selected_category == '테이블' %}active{% endif %}">테이블</a>
            <a href="/shop/item_gallery?category=기타" class="btn btn-custom-black {% if selected_category == '기타' %}active{% endif %}">기타</a>
        </div>
        <table class="unique-table">
            <tbody>
            {% for i in range(0, prdlist|length, 2) %}
            <tr>
                <!-- 첫 번째 상품 -->
                <td class="unique-td">
                    <div class="product-unique">
                        <img src="/static/img/{{ prdlist[i].fname }}" alt="...">
                        <div class="product-info-unique">
                            <p class="product-price-unique" style="padding: 5px 0 0 15px;">₩  {{ "{:,}".format(prdlist[i].price) }}</p>
                            <a href="/shop/item_detail/{{ prdlist[i].prdno }}" class="product-button-unique">{{ prdlist[i].prdname }}</a>
                        </div>
                    </div>
                </td>
                {% if i + 1 < prdlist|length %}
                <td class="unique-td">
                    <div class="product-unique">
                        <img src="/static/img/{{ prdlist[i + 1].fname }}" alt="...">
                        <div class="product-info-unique">
                            <p class="product-price-unique" style="padding: 5px 0 0 15px;">₩  {{ "{:,}".format(prdlist[i + 1].price) }}</p>
                            <a href="/shop/item_detail/{{ prdlist[i + 1].prdno }}" class="product-button-unique">{{ prdlist[i + 1].prdname }}</a>
                        </div>
                    </div>
                </td>
                {% endif %}
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</main>
{% endblock %}
