{% extends 'include/base.html' %}

{% block title %}
세미프로젝트 - SHOP
{% endblock %}

{% block style %}
<style>
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: white;
    }
    .container {
        width: 80%;
        margin: 0 auto;
        padding: 20px;
    }
    table {
        width: 100%;
        border-collapse: collapse;
        background: white;
    }
    th, td {
        padding: 0;
        vertical-align: top;
    }
    th {
        background-color: white;
        text-align: left;
        padding: 10px;
    }
    td {
        text-align: center;
        padding: 25px;
    }
    .product {
        width: 400px;
        height: 300px;
        background: white;
        box-shadow: 0 0 10px rgba(0,0,0,0.1);
        overflow: hidden;
        position: relative;
        margin: 0 auto;
    }
    .product img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-top: 1.8px solid black;
    }
    .product-info {
        padding: 10px;
    }
    .product-price {
        color: white;
        font-size: 0.95em;
        margin: 20px 0;
        text-align: center;
        position: absolute;
        top: 15px;
        left: 30%;
    }
    .product-button {
        display: inline-block;
        padding: 10px 100px 10px 10px;
        background-color: rgba(0, 0, 0, 0.2);
        color: white;
        font-size: 1.1em;
        text-decoration: none;
        text-align: left;
        position: absolute;
        top: 20px;
        left: 27%;
        transform: translateX(-50%);
        transition: background-color 0.3s, color 0.3s;
    }
    .product-button:hover {
        background-color: rgba(0, 0, 0, 0.1);
    }

    .product-button:active {
        background-color: rgba(0, 0, 0, 0.3);
    }
</style>
{% endblock %}

{% block main %}
<main>
    <div class="container">
        <h1>SHOP</h1>
        <table>
            <tbody>
            {% for i in range(1, 21) %}
            {% if i % 2 != 0 %}
            <tr>
                {% endif %}
                <td>
                    <div class="product">
                        <img src="/static/img/gagu{{ i }}.jpg" alt="상품 {{ i }}">
                        <div class="product-info">
                            <p class="product-price">₩{{ prices[i-1] }}</p>
                            <a href="/shop/item_detail/{{ i }}" class="product-button">상품 제목 {{ i }}</a>
                        </div>
                    </div>
                </td>
                {% if i % 2 == 0 %}
            </tr>
            {% endif %}
            {% endfor %}
            </tbody>
        </table>
    </div>
</main>
{% endblock %}
