{% extends 'include/base.html' %}

{% block title %}홈페이지 - 세미프로젝트{% endblock %}

{% block main %}
    <main>
        <h2>회원정보</h2>
        <div class="d-flex justify-content-center align-items-center" style="height: 65vh">
            <table class="table w-25 table-bordered table-striped">

                <tr>
                    <td>아이디</td>
                    <td>teamProject</td>
                </tr>
                <tr>
                    <td>이름</td>
                    <td>3조</td>
                </tr>
                <tr>
                    <td>이메일</td>
                    <td>teamProject@gmail.com</td>
                </tr>
                <tr>
                    <td>가입일</td>
                    <td>2024.08.21</td>
                </tr>

            </table>
        </div>
    </main>
{% endblock %}