{% extends 'include/base.html' %}

{% block title %}홈페이지 - 세미프로젝트{% endblock %}

{% block main %}
    <main>
        <hr>
        <h2>상품 목록</h2>
        <div class="container">
            <div class="row">
                <!-- 상품 1 -->
                <div class="col-md-6 mb-4">
                    <div class="card">
                        <img src="/static/img/gagu1.png" class="card-img-top" alt="상품1" style="cursor: pointer;" data-toggle="modal" data-target="#product1Modal">
                        <div class="card-body">
                            <h5 class="card-title">상품명 1</h5>
                            <p class="card-text">₩2,500,000</p>
                            <a href="/product/1" class="btn btn-primary">상세보기</a>
                        </div>
                    </div>
                </div>
                <!-- 상품 2 -->
                <div class="col-md-6 mb-4">
                    <div class="card">
                        <img src="/static/img/gagu2.png" class="card-img-top" alt="상품2" style="cursor: pointer;" data-toggle="modal" data-target="#product2Modal">
                        <div class="card-body">
                            <h5 class="card-title">상품명 2</h5>
                            <p class="card-text">₩3,300,000</p>
                            <a href="/product/2" class="btn btn-primary">상세보기</a>
                        </div>
                    </div>
                </div>
                <!-- 상품 3 -->
                <div class="col-md-6 mb-4">
                    <div class="card">
                        <img src="/static/img/gagu3.png" class="card-img-top" alt="상품3" style="cursor: pointer;" data-toggle="modal" data-target="#product3Modal">
                        <div class="card-body">
                            <h5 class="card-title">상품명 3</h5>
                            <p class="card-text">₩2,700,000</p>
                            <a href="/product/3" class="btn btn-primary">상세보기</a>
                        </div>
                    </div>
                </div>
                <!-- 상품 4 -->
                <div class="col-md-6 mb-4">
                    <div class="card">
                        <img src="/static/img/gagu4.png" class="card-img-top" alt="상품4" style="cursor: pointer;" data-toggle="modal" data-target="#product4Modal">
                        <div class="card-body">
                            <h5 class="card-title">상품명 4</h5>
                            <p class="card-text">₩4,100,000</p>
                            <a href="/product/4" class="btn btn-primary">상세보기</a>
                        </div>
                    </div>
                </div>
                <!-- 상품 5 -->
                <div class="col-md-6 mb-4">
                    <div class="card">
                        <img src="/static/img/gagu5.png" class="card-img-top" alt="상품5" style="cursor: pointer;" data-toggle="modal" data-target="#product5Modal">
                        <div class="card-body">
                            <h5 class="card-title">상품명 5</h5>
                            <p class="card-text">₩2,900,000</p>
                            <a href="/product/5" class="btn btn-primary">상세보기</a>
                        </div>
                    </div>
                </div>
                <!-- 상품 6 -->
                <div class="col-md-6 mb-4">
                    <div class="card">
                        <img src="/static/img/gagu6.png" class="card-img-top" alt="상품6" style="cursor: pointer;" data-toggle="modal" data-target="#product6Modal">
                        <div class="card-body">
                            <h5 class="card-title">상품명 6</h5>
                            <p class="card-text">₩2,700,000</p>
                            <a href="/product/6" class="btn btn-primary">상세보기</a>
                        </div>
                    </div>
                </div>
                <!-- 상품 7 -->
                <div class="col-md-6 mb-4">
                    <div class="card">
                        <img src="/static/img/gagu7.png" class="card-img-top" alt="상품7" style="cursor: pointer;" data-toggle="modal" data-target="#product7Modal">
                        <div class="card-body">
                            <h5 class="card-title">상품명 7</h5>
                            <p class="card-text">₩5,800,000</p>
                            <a href="/product/7" class="btn btn-primary">상세보기</a>
                        </div>
                    </div>
                </div>
                <!-- 상품 8 -->
                <div class="col-md-6 mb-4">
                    <div class="card">
                        <img src="/static/img/gagu8.png" class="card-img-top" alt="상품8" style="cursor: pointer;" data-toggle="modal" data-target="#product8Modal">
                        <div class="card-body">
                            <h5 class="card-title">상품명 8</h5>
                            <p class="card-text">₩3,780,000</p>
                            <a href="/product/8" class="btn btn-primary">상세보기</a>
                        </div>
                    </div>
                </div>
                <!-- 상품 9 -->
                <div class="col-md-6 mb-4">
                    <div class="card">
                        <img src="/static/img/gagu9.png" class="card-img-top" alt="상품9" style="cursor: pointer;" data-toggle="modal" data-target="#product9Modal">
                        <div class="card-body">
                            <h5 class="card-title">상품명 9</h5>
                            <p class="card-text">₩5,300,000</p>
                            <a href="/product/9" class="btn btn-primary">상세보기</a>
                        </div>
                    </div>
                </div>
                <!-- 상품 10 -->
                <div class="col-md-6 mb-4">
                    <div class="card">
                        <img src="/static/img/gagu10.png" class="card-img-top" alt="상품10" style="cursor: pointer;" data-toggle="modal" data-target="#product10Modal">
                        <div class="card-body">
                            <h5 class="card-title">상품명 10</h5>
                            <p class="card-text">₩6,530,000</p>
                            <a href="/product/10" class="btn btn-primary">상세보기</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 모달: 상품 1 -->
        <div class="modal fade" id="product1Modal" tabindex="-1" role="dialog" aria-labelledby="product1ModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="product1ModalLabel">상품명 1</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <img src="/static/img/showroom.png" class="img-fluid" alt="상품1">
                    </div>
                </div>
            </div>
        </div>

        <!-- 모달: 상품 2 -->
        <div class="modal fade" id="product2Modal" tabindex="-1" role="dialog" aria-labelledby="product2ModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="product2ModalLabel">상품명 2</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <img src="/static/img/showroom.png" class="img-fluid" alt="상품2">
                    </div>
                </div>
            </div>
        </div>

        <!-- 모달: 상품 3 -->
        <div class="modal fade" id="product3Modal" tabindex="-1" role="dialog" aria-labelledby="product3ModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="product3ModalLabel">상품명 3</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <img src="/static/img/showroom.png" class="img-fluid" alt="상품3">
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}

