{% extends 'include/base.html' %}

{% block title %}
세미프로젝트 - 게시판 글쓰기
{% endblock %}

{% block style %}
<style>
    form { width: 450px; margin:50px auto; }
    th { width: 150px; }
    tr { height: 35px }
    tr:nth-child(3) { vertical-align: top }
    #listbtn { margin-left: 95px }
    input, textarea, button { padding: 5px }
</style>
{% endblock %}

{% block main %}
<main>
    <h2>게시판 글쓰기</h2>
    <form name="writefrm" method="post">
        <table>
            <tr><th>제목</th><td><input type="text" name="title" id="title" required></td></tr>
            <tr><th>작성자</th><td><input type="text" name="userid" id="userid" value="zzyzzy" readonly></td></tr>
            <tr><th>본문</th><td><textarea name="contents" id="contents" rows="10" cols="45" required></textarea></td></tr>
            <tr><td colspan="2">
                <button type="button" id="listbtn" onclick="location.href='/board/list'">리스트로</button>
                <button type="submit" id="writeokbtn">입력완료</button>
            </td></tr>
        </table>
    </form>
</main>
{% endblock %}